/* Style de texte */
@font-face {
    font-family: "Orpheus Pro";
    src: url(./font/Orpheus-W05-Regular.ttf);
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(./font/Helvetica-Neue-LT-Pro-55-Roman.ttf);
  }
  :root {
    --step--2: clamp(0.6667rem, 0.8326rem + -0.2568vi, 0.7813rem);
    --step--1: clamp(0.9375rem, 0.9095rem + 0.1401vi, 1rem);
    --step-0: clamp(1.125rem, 0.9569rem + 0.8403vi, 1.5rem);
    --step-1: clamp(1.35rem, 0.9466rem + 2.0168vi, 2.25rem);
    --step-2: clamp(1.62rem, 0.8334rem + 3.9328vi, 3.375rem);
    --step-3: clamp(1.944rem, 0.5464rem + 6.9882vi, 5.0625rem);
    --step-4: clamp(2.3328rem, -0.025rem + 11.7892vi, 7.5938rem);
    --step-5: clamp(2.7994rem, -1.0511rem + 19.2521vi, 11.3906rem);
  }

html {
    position: relative;
    z-index: 1;
    background-color: #363E21;
  }

body {
    font-family: 'Helvetica Neue', sans-serif;
}

/* Navigateur header */
header {
    background-color: #363E21;
    height: 100px;
    position: fixed;
    width: 100%;
    margin-top: -80px;
}

.Header{
    display: flex;
    justify-content: space-between;
}

.Header-menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 30px;
    width: 22%;
}

.Header .prisca {
    text-decoration: none;
    color: #E5DFF5;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 500;
}

.prisca:hover{
    color: #FFF6ED;
}

.Header-menu li a{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #E5DFF5;
}

.button {
    margin-top: -12px;
    position: relative;
    display: inline-block;
    padding: 20px 80px;
    border-radius: 100%;
    border: solid 1px;
    border-color: #E5DFF5;
    background-color: #363E21;
    overflow: hidden;
    transition: background-color 0.3s ease;   
  }
  
.button:hover {
    background-color: #363E21;
  }
  
.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E5DFF5;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  
.button:hover .button-text {
    color: #363E21;
    font-weight: 500;
  }
  
.button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFF6ED;
    transition: height 0.3s ease;
}
  
.button:hover::before {
    height: 100%;
}

.active {
    display: inline-block;
  }
  
.active-text {
    position: relative;
    display: inline-block;
    color: #E5DFF5;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  
.active-text::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E5DFF5;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
.active-text:hover::before {
    transform: scaleX(1);
  }

  .burger-menu {
    display: none;
}

.burger-menu img {
    width: 30px; 
    cursor: pointer;
  }

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.404);
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1; 
  }

  @media screen and (max-width: 1115px) and (min-width: 900px) {
    .Header-menu {
        width: 30%;
    }
  }

  @media screen and (max-width: 900px) {
    .Header-menu {
      display: none; 
    }
  
    .burger-menu {
      display: block;
      margin: 50px;
    }

    .overlay-nav-links {
        display: block;
        width: 100%;
        text-align: center;
    }

    .overlay-nav-links li {
        margin-top: 30px;
    }
  }


.barre {
    width: 100%; 
    overflow: hidden; 
    margin-top: 80px;
    
}

.barre .texte {
    white-space: nowrap; 
    animation: scrollRightToLeft 10s linear infinite;
    position: relative;
    z-index: -1000;
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.barre .texte {
    color: #E5DFF5;
    font-size: var(--step-2);
    margin-top: 50px;
    word-spacing: 100px;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 50px;
}

.section .texte-left{
    color: #E5DFF5;
    font-size: var(--step-0);
    width: 30%;
    margin-left: 100px;
}

form .grand-titre {
    color: #E5DFF5;
}

form .name {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    color: #E5DFF5;
}

form .name .label1, .label2 {
    width: 250px;
    height: 50px;
    margin-top: 7px;
    color: #363E21;
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
}

form .mail {
    color: #E5DFF5;
    margin-top: 20px;
}

form .mail input {
    width: 520px;
    height: 50px;
    margin-top: 7px;
    color: #363E21;
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
}

form .message {
    color: #E5DFF5;
    margin-top: 20px;
}

form .message textarea {
    width: 520px;
    height: 100px;
    margin-top: 7px;
    color: #363E21;
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
}

form span {
    color: #cececea4;
}

.send input {
    border-radius: 100%;
    width: 150px;
    height: 50px;
    background-color: #363E21;
    border-color: #E5DFF5;
    border-width: 1px;
    color: #E5DFF5;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 380px;
    border-style: solid;
    cursor: pointer;
}

.send input:hover {
    background-color: #FFF6ED;
    color :#363E21;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: rgba(254, 254, 254, 0.637);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

  .modal-content p {
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #232914;
  }
  
  .close {
    color: #363E21;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ED6B2D;
    text-decoration: none;
    cursor: pointer;
  }

  /* Media Queries pour les écrans de taille différente */
@media screen and (max-width: 850px) {
    .section {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }

    form .name {
        display: block;
    }

    form .name .nom {
        margin-top: 15px;
    }

    form .name .label1, .label2 {
        width: 520px;
    }
}

  /* Media Queries pour les écrans de taille différente */
@media screen and (max-width: 850px) and (min-width: 600px) {
    .section {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }

    .section .texte-left{
        width: 80%;
        margin-left: 30px;
    }
}

 /* Media Queries pour les écrans de taille différente */
 @media screen and (max-width: 600px) and (min-width: 370px){
    .section {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }

    .section .texte-left{
        width: 80%;
        margin-left: 30px;
    }

    form .mail input {
        width: 300px;
    }
    
    form .message textarea {
        width: 300px;
    }

    form .name .label1, .label2 {
        width: 300px;
    }

    .send input {
        margin-left: 80px;
    }
}

 /* Media Queries pour les écrans de taille différente */
 @media screen and (max-width: 370px) {
    .section {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }

    .section .texte-left{
        width: 80%;
        margin-left: 30px;
    }

    form .mail input {
        width: 200px;
    }
    
    form .message textarea {
        width: 200px;
    }

    form .name .label1, .label2 {
        width: 200px;
    }

    .send input {
        margin-left: 30px;
    }
}

/* Footer */
footer {
    background-color: #E5DFF5;
    margin-top: 150px;
    height: 200px;
    width: 100%;
}

.footer-social-media ul li {
    list-style-type: none;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media ul li a {
    padding-left: 10px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--step--1);
    color: #363E21;
}