/* Style de texte */
@import url(https://db.onlinewebfonts.com/c/2aea0ac500c896188f9ad191c231029c?family=Orpheus+Pro);

@import url(https://db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue+Regular);

html {
    position: relative;
    z-index: 1;
    background-color: #363E21;
  }

body {
    font-family: 'Helvetica Neue', sans-serif;
}

/* Navigateur header */
.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: #363E21;
    height: 100px;
    margin-top: -130px;
}

.Header-menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 30px;
    width: 22%;
}

.Header .prisca {
    text-decoration: none;
    color: #E5DFF5;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 500;
}

.prisca:hover{
    color: #FFF6ED;
}

.Header-menu li a{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #E5DFF5;
}

.button {
    margin-top: -12px;
    position: relative;
    display: inline-block;
    padding: 20px 80px;
    border-radius: 100%;
    border: solid 1px;
    border-color: #E5DFF5;
    background-color: #363E21;
    overflow: hidden;
    transition: background-color 0.3s ease;   
  }
  
.button:hover {
    background-color: #363E21;
  }
  
.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E5DFF5;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.3s ease;
  }
  
.button:hover .button-text {
    color: #363E21;
    font-weight: 500;
  }
  
.button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFF6ED;
    transition: height 0.3s ease;
}
  
.button:hover::before {
    height: 100%;
}

.active {
    display: inline-block;
  }
  
.active-text {
    position: relative;
    display: inline-block;
    color: #E5DFF5;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  
.active-text::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E5DFF5;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
.active-text:hover::before {
    transform: scaleX(1);
  }

h1 {
    font-size: 42px;
}

.texte {
    color: #E5DFF5;
    padding-left: 150px;
}

.texte .titre12 {
    font-size: 18px;
}

.texte .titre13 {
    font-size: 25px;
}

.projet1, .projet2, .projet3, .projet4 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 300px;
}

.texte a {
    text-decoration: none;
    color: #E5DFF5;
    text-decoration: underline;
}

.image img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

/* Première section */
.section1 .border1 {
    border-top: #E5DFF5 1px solid;
    justify-content: center;
    width: 95%;
    margin-left: 30px;
    margin-top: 120px;
}

.section1 .titre11 {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
    color: #E5DFF5;
}

/* Deuxième section */
.section2 .border2 {
    border-top: #E5DFF5 1px solid;
    justify-content: center;
    margin-top: 110px;
    width: 95%;
    margin-left: 30px;
}

.section2 .projet2 {
    margin-top: 80px;
}

/* Troisième section */
.section3 .border3 {
    border-top: #E5DFF5 1px solid;
    justify-content: center;
    margin-top: 110px;
    width: 95%;
    margin-left: 30px;
}

.section3 .projet3 .texte .titre13 {
    width: 120%;
}
.section3 .projet3 {
    margin-top: 80px;
}

.section3 .projet3 img {
    fill-opacity: 0.1;
}

/* Quatrième section */
.section4 .border4 {
    border-top: #E5DFF5 1px solid;
    justify-content: center;
    margin-top: 110px;
    width: 95%;
    margin-left: 30px;
}

.section4 .projet4 {
    margin-top: 80px;
}

.question {
    margin-left: 280px;
    margin-top: 200px;
    font-size: 60px;
    font-weight: 400;
    color: #E5DFF5;
    font-family: 'Orpheus Pro', sans-serif;
}

.reponse {
    font-size: 22px;
    color: #E5DFF5;
    margin-left : 590px;
}

/* Footer */
footer {
    background-color: #E5DFF5;
    margin-top: 50px;
    height: 200px;
    width: 100%;
}

.footer-social-media ul li {
    list-style-type: none;
    margin-left: 555px;
    padding-top: 80px;
}

.footer-social-media ul li a {
    padding-left: 10px;
}

footer p {
    margin-left: 520px;
    font-size: 18px;
    color: #363E21;
}